extends ./layout.jade

block title
    title OrderBox
block content
    |Search : 
    div( ng-controller = "OrderBoxCtrl as orderCtrl")
        input( ng-model = "query")
        |Sort by:
        select( ng-model= "orderProp")
            option( value = "name") Alphabetical
            option( value = "age") Newest

    
        ul
            li(ng-repeat="food in foods | filter : query | orderBy : orderProp")
                span {{food.name}}
                p {{food.price}}
                p {{food.description}}
                input( type = "number" ng-model = "quantity" min = "1")
                button(ng-click = "addBasket(quantity); calculate();") 담기

        div(style = "border: 1px solid black")
            ul
                li(ng-repeat = "goods in basket track by $index")
                    span {{goods}}
                    span {{goods.count * goods.price}}
                    input(type = "number" ng-click = "calculate()" ng-model = "goods.count" ng-value = "goods.count")
                    a(ng-click = "remove(); calculate()") [x]
            span {{total}}
    script(src = "javascripts/angular.min.js")
    script(src = "javascripts/jquery.min.js")
    script(src = "javascripts/controllers.js")


